# Sets Basics

### Examples

In [1]:
my_list = [1,2,2,2,2,3,4,5,6,7,8,9]
my_set = set(my_list)

names = set(['Elmer', 'Dylan', 'Jen', 'Guillermo', 'Naomi'])
peanut = set("My peanut is named Elmer and Elmer is my name".split())

### Info
- Sets are lists but without duplicate entries and unordered.

In [2]:
# When making a set the duplicates will be removed
len(my_list), len(my_set)

(12, 9)

In [3]:
# Notice "My" and "my" are unique
peanut

{'Elmer', 'My', 'and', 'is', 'my', 'name', 'named', 'peanut'}

In [4]:
# Union

In [5]:
# Returns a list of all elements in both sets
names.union(peanut)

{'Dylan',
 'Elmer',
 'Guillermo',
 'Jen',
 'My',
 'Naomi',
 'and',
 'is',
 'my',
 'name',
 'named',
 'peanut'}

In [6]:
peanut.union(names)

{'Dylan',
 'Elmer',
 'Guillermo',
 'Jen',
 'My',
 'Naomi',
 'and',
 'is',
 'my',
 'name',
 'named',
 'peanut'}

# Intersections

In [7]:
# Finds overlaping
names.intersection(peanut)

{'Elmer'}

In [8]:
peanut.intersection(names)

{'Elmer'}

# Difference

In [9]:
# Returns peanut elements minus overlapping name elements
peanut.difference(names)

{'My', 'and', 'is', 'my', 'name', 'named', 'peanut'}

In [10]:
# Returns name elements minus overlapping peanut elements
names.difference(peanut)

{'Dylan', 'Guillermo', 'Jen', 'Naomi'}

# Symmetric Difference

In [11]:
# Finds items in only one of the two lists
names.symmetric_difference(peanut)

{'Dylan',
 'Guillermo',
 'Jen',
 'My',
 'Naomi',
 'and',
 'is',
 'my',
 'name',
 'named',
 'peanut'}

In [12]:
peanut.symmetric_difference(names)

{'Dylan',
 'Guillermo',
 'Jen',
 'My',
 'Naomi',
 'and',
 'is',
 'my',
 'name',
 'named',
 'peanut'}